.containerMap {
    height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #201e1f;
}

.bgVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100vw;
    overflow: hidden;
    filter: brightness(60%);
    z-index: -1;
}